<a href="https://colab.research.google.com/github/sunnylife0624/2022pythonmission/blob/main/%EC%B5%9C%EC%A2%85%EB%AF%B8%EC%85%98(%EC%8D%A8%EB%8B%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#독서목록 저장 후 평점에 기반한 도서 추천
 
1) 책 이름, 별점 저장(일단은 3개 지정, 학급 학생 수에 맞게 변동 가능)  
2)그 중에서 별점 4점 이상 책 추천 후 목록 생성

```
# 코드로 형식 지정됨
```

In [25]:

import time

book = []

for i in range(0,3):
  name = input('책 제목을 입력하세요:')
  #date = input('읽은 날짜를 입력하세요(예:3-14): ')
  #text = input('읽은 소감을 입력하세요: ')
  star = input('평점(0~5)를 입력하세요: ')
  book.append({'name': name, 'star': star})
  if i == 3 : #학생수에 맞게 숫자 변경
    break
time.sleep(1)

from operator import itemgetter
data = sorted(book, key=itemgetter('star', 'name'), reverse=True)
for d in data:
  print(d)

import pandas as pd
df = pd.DataFrame(book)
df.sort_values(by='star', ascending=False)

time.sleep(1)
print('평점이 4점 이상인 책을 추천해드리겠습니다.')
time.sleep(1)
df[df['star'] >= '4']

책 제목을 입력하세요:마법의 설탕 두 조각
평점(0~5)를 입력하세요: 5
책 제목을 입력하세요:최고의 차
평점(0~5)를 입력하세요: 3
책 제목을 입력하세요:이웃집에는 어떤 가족이 살까
평점(0~5)를 입력하세요: 4
{'name': '마법의 설탕 두 조각', 'star': '5'}
{'name': '이웃집에는 어떤 가족이 살까', 'star': '4'}
{'name': '최고의 차', 'star': '3'}
평점이 4점 이상인 책을 추천해드리겠습니다.

              name star
0      마법의 설탕 두 조각    5
2  이웃집에는 어떤 가족이 살까    4